#!/usr/env python3

import funciones as f
import objeto as obj
import utilidades as util

def ingreseNumeros():
    '''
    Captura y devuelve la lista de elementos ingresados
    '''
    l = []
    salir = False
    while (not salir):
        try:
            n = int(input("Ingrese valor: "))
            l.append(n)
            opcion = input("Elegir operacion (s/n): ")
            if (opcion == "s" or opcion == "S"):
                salir = True
        except:
            print("No es un numero valido")
    return l

opcionesMenu = ["Multiplicar",
                "Dividir",
                "Restar",
                "Sumar",
                "Salir"]

# Utiliza jinja2 para ajustar el nombre de la clase
# al nombre proporcionado por el usuario
caracteristicas = obj.{{ nombreObjeto }}()

while True:
    util.limpiarPantalla()
    numeros = ingreseNumeros()
    opcion = util.menu(opcionesMenu)

    if opcion == 1:
        util.mostrarMsj("Multiplicar")

        resultado = f.multiplicar(numeros)
        print(resultado)
        caracteristicas.multiplicacion()
        break

    elif opcion == 2:
        util.mostrarMsj("Division")

        if len(numeros) == 2:
            # Asignacion de valores
            dividendo = numeros[0]
            divisor = numeros[1]
            resultado = f.dividir(dividendo, divisor)
            print("{}/{} = {}".format(dividendo, divisor, resultado))
            caracteristicas.division()
        else:
            print("Se necesitan exactamente dos numeros")
        break

    elif opcion == 3:
        util.mostrarMsj("Restar")

        resultado = f.resta(numeros)
        print(resultado)
        caracteristicas.resta()
        break

    elif opcion == 4:
        util.mostrarMsj("Sumar")
        resultado = f.suma(numeros)
        print(resultado )
        caracteristicas.suma()
        break

    elif opcion == 5:
        break

del caracteristicas
