#!/bin/env python3

class {{ nombreObjeto }}:
    def __init__(self):
        self.encabezado = "caracteristicas"

    def multiplicacion(self):
        print("{} multiplicacion".format(self.encabezado))

    def division(self):
        print("{} division".format(self.encabezado))

    def resta(self):
        print("{} resta".format(self.encabezado))

    def suma(self):
        print("{} suma".format(self.encabezado))
